*{
  /* box-sizing below makes each box size equal to its length x width values (including any padding, border, margin) */
  box-sizing: border-box; 
  font-family: 'Lora', serif;
}

body {
  background-image: url("./Assets/AdobeStock_517549233.jpeg");
  background-size: 45%;
}

#recipePageTitle {
  color: white;
  font-family: 'Lora', serif;
  font-size: 4vw;
  background-color: black;
  max-width: 25vw;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 4vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
}

.recipeItem{
  width: 450px;
}

.recipeName {
  font-size: 25px;
  /* background-color: black; */
  color: white;
  /* font-style:normal; */
  max-width: 220px;
  padding: 1px;
  /* border: 1px solid white; */
  /* display: inline-flexbox; */
}

.homeRecipeImg {
  width: 400px;
  height: 300px;
  margin-top: 25px;
  transition: 0.6s ease;
  border: 2px solid slateblue;
}

.homeRecipeImg:hover {
  /* transform: translateY(-2px); */
  transform: scale3d(1.05, 1.05, 1);
}

#recipePageTitle {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* .recipeLink {
  margin-bottom: 50%;
} */

.recipeBlock {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  /* display: block; */ /* this would set each block to have its own line*/
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.goHome {
  text-align: center;
}

#goHome{
  margin: 20px;
}

.recipeContainer{
  width: 600px;
  margin: auto;
}
#sandwich{
  background-image: url(./Assets/border.jpeg);
  background-color: white;
  background-size:595px 935px;
  background-position: center;
  padding: 50px;
}
#sandwich h1{
  text-align: center;
}
#coconutGranola{
  background-image: url(./Assets/border.jpeg);
  background-color: white;
  background-size:595px 1230px;
  background-position: center;
  padding: 50px;
}
#coconutGranola h1{
  font-size: 33px;
  text-align: center;

}
#pumpkinBread{
  background-image: url(./Assets/border.jpeg);
  background-color: white;
  background-size:595px 1270px;
  background-position: center;
  padding: 50px;
}
#pumpkinBread h1{
  font-size: 33px;
  text-align: center;

}

.recipeImg{
  width: 500px;
}

.homeContainer{
  background-color:rgba(0, 0, 0, 0.9);
  margin: auto;
  padding:1px;
  border: 2px solid white;
  border-radius: 100px;
  text-align: center;
  max-width: 1600px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(47, 34, 85);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(47, 38, 95);
  
}